In [1]:
import pandas as pd

In [2]:
#1 What's the version of Pandas that you installed?
pd.__version__

'1.5.0'

In [3]:
#dataset
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')

In [4]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
#2 How many columns are in the dataset?
df.shape

(20640, 10)

In [6]:
#3 Which columns in the dataset have missing values?
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [7]:
#4 How many unique values does the ocean_proximity column have?
df.ocean_proximity.nunique()

5

In [8]:
#5 What's the average value of the median_house_value for the houses located near the bay?
df.groupby(['ocean_proximity']).mean()['median_house_value']

ocean_proximity
<1H OCEAN     240084.285464
INLAND        124805.392001
ISLAND        380440.000000
NEAR BAY      259212.311790
NEAR OCEAN    249433.977427
Name: median_house_value, dtype: float64

In [9]:
#6 
# Calculate the average of total_bedrooms column in the dataset.
mv = df['total_bedrooms'].mean()
mv

537.8705525375618

In [12]:
# Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
df['total_bedrooms'] = df['total_bedrooms'].fillna(mv)
# Now, calculate the average of total_bedrooms again.
df['total_bedrooms'].mean()

537.8705525375617

In [90]:
#7 What's the value of the last element of w
import numpy as np
X = np.array(df[df['ocean_proximity']=='ISLAND'][['housing_median_age','total_rooms','total_bedrooms']].reset_index(drop=True))
XTX = X.T.dot(X)
XTX_INV = np.linalg.inv(XTX)
y = np.array([950, 1300, 800, 1000, 1300])
w = XTX_INV.dot(X.T).dot(y)
w

array([23.12330961, -1.48124183,  5.69922946])